@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.navbar {
  background: white;
  padding: 1em;
}

.navbar .logo {
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 1.2em;
}

.navbar .logo span {
  color: #DE5D83;
}

.navbar nav {
  display: none;
}

.navbar .container {
  display: flex;
  place-content: space-between;
}

.navbar .mobile-menu {
  cursor: pointer;
  width: 10%;
}
nav.menu-btn {
  display: block;
}
nav {
  position: fixed;
  z-index: 999;
  width: 66%;
  right: 0;
  top: 0;
  background: #20272E;
  height: 100vh;
  padding: 1em;
}
nav ul.primary-navbar {
  margin-top: 5em;
}
nav li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 0.5em;
  font-size: 1.3em;
  text-align: right;
}
nav li a:hover {
  color: #000;
  font-weight: bold;
}

.mobile-menu-exit {
  float: right;
  margin: 0.5em;
  cursor: pointer;
  width: 10%;
  
}
a {
  color: #444444;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  padding: 0;
}

.hero {
  text-align: center;
}

.left-col .subhead {
  color: #DE5D83;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: 0.1em;
  margin-bottom: -1em;
  margin-top: 5em;
  font-size: 1.1em;
}

.left-col .h1 {
  font-size: 2em;
  margin-top: 2em;
  line-height: 1.2em;
}

.primary-cta {
  text-decoration: none;
  background-color: white;
  padding: 0.6em 1.3em;
  color: black;
  font-size: 1em;
  display: inline-block;
  border-radius: 5em;
  font-weight: bold;
  margin-bottom: 20px;
  border: 1px solid black;
}
.primary-cta:hover{
  color: white;
  background-color: #000;
  transform: 4s;
}

.hero img {
  width: 50%;
  border-radius: 50%;
  margin-top: 3em;
  margin-bottom: -90px;
}

section.About-section {
  background: white;
  color:black;
  text-align: center;
}

section.About-section .container {
  padding: 60px 5px;
  border-radius: 20px;
}

.imagess {
  border-radius: 10%;
  width: 50%;
  align-content: center;
  margin-bottom: -20px;
}
.about-text h2, h5{
  margin-bottom: -10px;
}

.projects-section {
  position: relative;
}

.project-container {
  border-color: #868583;
  background: white;
  text-align: center;
  border: 1px solid black;
  border-radius: 20px;
  margin: 30px 20px;
}

.project-img {
  border-radius: 2rem;
  width: 90%;
  height: 80%;
  margin-top: 2rem;
}

h2.heading {
  margin: 1rem;
  color: black;
  text-align: center;
}

h3 {
  margin: 0.4rem;
  color: black;
}

.project-btn {
  color: black;
  border-color: #20272E;
  background-color: white;
  padding: 9px;
  width: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  cursor: pointer;
}
.project-btn:hover{
  background-color: #000;
  color: white;
  transform: 4s;
}

.contact-section{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.title{
  font-size: 2rem;
  margin: 0 60px;
}
.contact-container{
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: 0.1rem solid black;
  background: (250, 250, 250);
  margin: 5px 15px;
  padding: 2px;
}
img {
  width: 15%;
  margin: 0 3px;
}
img .linked{
  width: 20%;
}
p{
  font-size: .9em;
}
a{
text-decoration: none;
}

  

@media only screen and (min-width: 768px) {
  .mobile-menu, .mobile-menu-exit {
    display: none;
  }
  .navbar .container {
    display: flex;
    justify-content: space-between;
  }
  .navbar nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
    
  }
  .navbar nav ul {
    display: flex;
  }
  .navbar nav a {
    color: black;
    font-size: 1em;
    padding: 0.1em 1em;
    text-decoration: none;
  }
  .navbar nav ul.primary-navbar {
    margin: 0;
  }
  section.About-section {
    background: white;
    color:black;
    text-align: center;
  }
  
  section.About-section .container {
    padding: 60px 5px;
    border-radius: 20px;
    display: flex;
  }
  
  .imagess {
    border-radius: 10%;
    width: 40%;
    margin: 0 60px;
    align-content: center;
  }
  .about-text{
    border: 1px solid black;
    margin-left: -40px;
    padding: 40px;
    border-radius: 30px;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .projects-section {
    position: relative;
  }
  
  .project-container {
    border-color: #868583;
    background: white;
    text-align: center;
    border: 1px solid black;
    border-radius: 20px;
  }
  .projectss{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  
  .project-img {
    border-radius: 2rem;
    width: 80%;
    margin-top: 2rem; 
  }

  h2.heading {
    margin: 1rem;
    color: black;
    text-align: center;
  }
  
  h3 {
    margin: 0.4rem;
    color: black;
  }
  
  .project-btn {
    color: black;
    border-color: #20272E;
    background-color: white;
    padding: 9px;
    width: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
  }
  
  .contact-section{
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .contact-box{
    justify-content: center;
    align-items: center;
  }
  .title{
    font-size: 2rem;
  }
  .contact-container{
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: 0.1rem solid black;
    background: white;
    margin: 5px 15px;
    padding: 2px;
    width: 50%;
  }
  
  img {
    width: 15%;
    margin: 0 3px;
  }
  
}
@media only screen and (min-width: 1024px){
 .hero .container{
    display: flex;
    gap: 90px;
    justify-content: center;
    margin-top:20px;
    margin-bottom: 60px;
  }
  .container img{
    width: 40%;
    margin-top: 20px;
  }
  section.About-section .container {
    padding: 60px 50px;
    border-radius: 20px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
  }
  
  .imagess {
    border-radius: 50%;
    width: 40%;
    margin: 0 60px;
    align-content: center;
  }
  .about-text{
    margin-left: -40px;
    padding: 40px;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: none;
  }
  
  .projectss{
    display: grid;
    grid-template-columns: repeat(3,1fr);
  }
  .contact-box{
    display: flex;
  }
  .contact-container{
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: 0.1rem solid black;
    background: white;
    margin: 15px 15px;
    padding: 2px;
  }
  img {
    width: 9%;
    margin: 0 3px;
  }
  a{
    font-weight: bold;
  }
}

  @media only screen and (min-width: 1440px){
    .navbar .container{
      margin: 0 0;
      padding: 0 10px;
    }
    .navbar .logo{
      font-size: 2em;
    }
    .navbar nav a{
      font-size: 1.5em;
    }
    .container img{
      width: 27%;
    }
    .hero .container{
      justify-content: center;
      gap: 200px;
    }
    .projectss{
      display: grid;
      grid-template-columns: repeat(4,1fr);
    }
    .contact-section{
      margin: 90px;
    }
    .contact-container{
      padding: 10px;
    }
    img {
      width: 5%;
      margin: 0 3px;
    }
    a{
      font-size: 1.5em;
      font-weight: bold;
    }
    .left-col .subhead {
      color: #DE5D83;
      font-weight: bold;
      text-transform: capitalize;
      letter-spacing: 0.1em;
      margin-bottom: -1em;
      margin-top: 5em;
      font-size: 1.4em;
    }
    
    .left-col .h1 {
      font-size: 5em;
      margin-top: 2em;
      line-height: 1.2em;
    }
    
    .primary-cta {
      text-decoration: none;
      background-color: white;
      padding: 0.6em 1.3em;
      color: black;
      font-size: 1.3em;
      display: inline-block;
      border-radius: 5em;
      font-weight: bold;
      margin-bottom: 20px;
      border: 1px solid black;
  }
  .container{
    margin: 90px 0;
  }
  .about-text h2{
    font-size: 3em;
  }
  h5{
    font-size: 1.5em;
    margin-top: 10px;
  }
  .about-content{
    font-size: 1.4em;
    padding: 0 70px;
  }
  h2{
    font-size: 2em;
  }
  }